:root {
  --main-color: black;
  --background-color: white;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip=""] > :last-child {
  position: fixed;
  display: block;
  left: 3000px;
  top: 100px;
  z-index: 9000;
  min-width: 590px;
  border-radius: 4px;
  transition: opacity .3s ease-out .2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  background-color: var(--background-color);
  padding: 1rem 1rem 1rem 2rem;
}

@media(max-width: 600px) {
  [data-tooltip=""]> :last-child {
    min-width: 310px;
  }
}